<mat-toolbar color="primary">
    <mat-toolbar-row style="font-size: 1.5em; height: 80px;">
        <span>RedLine Park</span>
        <span class="example-spacer"></span>
        <mat-icon>help</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>

<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left:2% ; padding-right: 2%;">
    
    <mat-tab label="Dados"> 
        <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div style="margin: 0.5%;" >
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class=" flex-3 ">
                            <div class="flex-items"><span style="font-size: 25px;" >ID: </span></div>
                            <div class="flex-items"><label style="font-size: 20px;"> {{qrCode.iD}}</label></div>
                            <mat-spinner *ngIf="qrService.loading" [diameter]="40"></mat-spinner>
                        </div>
                        <br>
                        <br>
                        <div class=" flex-3 ">
                            <div class="flex-items"><span style="font-size: 25px;" >Data de Entrada: </span></div>
                            <div class="flex-items"><label style="font-size: 20px;"> {{qrCode.dataEntrada}}</label></div>
                            <mat-spinner *ngIf="qrService.loading" [diameter]="40"></mat-spinner>
                        </div> 
                        <br>
                        <br>
                        <div>
                            <div class=" flex-3 ">
                                <div class="flex-items"><span style="font-size: 25px;" >Tempo no Shopping </span></div>
                                <div class=" flex-3">
                                    <div style="font-size: 20px;">{{ hours | number:'2.0'}}<span>:</span></div>
                                    <div style="font-size: 20px;">{{ minutes | number:'2.0'}}<span>:</span></div>
                                    <div style="font-size: 20px;">{{ seconds | number:'2.0'}}<span></span></div>
                                </div>
                            </div> 
                        </div>  
                        <br>
                        <br>
                        <div>
                            <div class=" flex-3 ">
                                <div class="flex-items"><span style="font-size: 25px;" >Total a pagar </span></div>
                                <div class="flex-items"><label style="font-size: 20px;"> R$ 8,00 </label></div>
                            </div> 
                        </div>    
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    
    </mat-tab>
    <mat-tab label="Pagamento">
        <br>
        <br>
        <br>
        <mat-card-title>Escolha a forma de pagamento: </mat-card-title>
        <br>
        <br>
        <mat-card-content>
            <mat-card>
                <div class=" flex-3 ">
                    <div class="flex-items"><span style="font-size: 25px;" >Pagamento Via pix:</span></div>
                    <div class="flex-items"><button mat-raised-button color="primary"  (click)="pagar()" >Pagar</button></div>
                </div>
            </mat-card>
            <br>
            <br>
               <mat-card>
                 <div class=" flex-3 ">
                    <div class="flex-items"><span style="font-size: 25px;" >Transferência Bancária:</span></div>
                    <div class="flex-items"><button mat-raised-button color="primary" (click)="pagar()">Pagar</button></div>
                 </div>
               </mat-card>  
            <br>
            <br>
            <mat-card>
                <div class=" flex-3 ">
                   <div class="flex-items"><span style="font-size: 25px;"> Em dinheiro (Dirija-se ao caixa): </span></div>
                   <div class="flex-items"><button mat-raised-button color="primary"  (click)="pagar()">Pagar</button></div>
                </div>
              </mat-card>  
        </mat-card-content>
    </mat-tab>
    
    
    <mat-tab label="Saída">
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
            <div style="margin: 0.5%;">
                <mat-card class="example-card">
                    <mat-card-header>
                        <h2>Passo-a-passo</h2>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p>
                            Após a realização do pagamento, o cliente deve fazer o seguinte passo-a-passo para a saída do shopping:
                        </p>
                        
                        <ul>
                            <li> 1 - Aproximar-se da catraca </li>
                            <li> 2 - Clicar na câmera abaixo </li>
                            <li> 3 - Ler o QR code mostrado no display da catraca </li>
                        </ul>                            
                    </mat-card-content>  
                </mat-card>
            </div>
        </div>   
        <div>
            <mat-card>
                    <zxing-scanner 
                     (scanSuccess)="onCodeResult($event)">
                    </zxing-scanner>
                  
                    <p>
                    <small>Scan Result</small>
                    <strong>{{scanResult}}</strong>
                    </p>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-content>
                    <h2>Obrigado, Volte Sempre!!!</h2>
                </mat-card-content>
            </mat-card>
         </div>  
    </mat-tab>
        
</mat-tab-group>