<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left:2% ; padding-right: 2%;">
    
    <mat-tab label="Dados"> 
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
            <div style="margin: 0.5%;">
                <mat-card class="example-card">

                    <mat-card-content>
                        <div>
                            <span><h2>ID:</h2></span>
                            <span class="example-spacer"></span>
                            <p>45</p>
                        </div>  
                        
                        <div>
                            <span><h2>Data Entrada:</h2></span>
                            <span class="example-spacer"></span>
                            <p>  45  </p>
                        </div>  
                        <div>
                            <span><h2>Tempo No shopping:</h2></span>
                            <span class="example-spacer"></span>
                            <p>  45  </p>
                        </div>  
                        <div>
                            <span><h2>Total a pagar:</h2></span>
                            <span class="example-spacer"></span>
                            <p>  5 R$ </p>
                        </div>  
                    </mat-card-content>
                    <button (click)= "getQrCodeById()" >Ckique aqui</button>
                </mat-card>

            </div>
        </div>
    
    </mat-tab>
    <mat-tab label="Pagamento">Content 2
        <mat-card-content>
            
        </mat-card-content>
    </mat-tab>
    
    
    <mat-tab label="Saída">
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
            <div style="margin: 0.5%;">
                <mat-card class="example-card">
                    <mat-card-header>
                        <h2>Passo-a-passo</h2>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p>
                            Após a realização do pagamento, o cliente deve fazer o seguinte passo-a-passo para a saída do shopping:
                        </p>
                        
                        <ul>
                            <li> 1 - Aproximar-se da catraca </li>
                            <li> 2 - Clicar na câmera abaixo </li>
                            <li> 3 - Ler o QR code mostrado no display da catraca </li>
                        </ul>                            
                    </mat-card-content>  
                </mat-card>
            </div>
        </div>   
        <div>
            <mat-card>
                    <zxing-scanner 
                (scanSuccess)="onCodeResult($event)">
                </zxing-scanner>
                    <p>
                    <small>Scan Result</small>
                    <strong>{{scanResult}}</strong>
                    </p>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-content>
                    <h2>Obrigado, Volte Sempre!!!</h2>
                </mat-card-content>
            </mat-card>
         </div>  
    </mat-tab>
        
</mat-tab-group>
